
<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <button  routerLinkActive="active " routerLink="'/home'" style="float: left; background-color: #508bfc; color: white; padding: 10px ;border: none">return to Home</button>

          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Sign in</h3>



            <div *ngIf="error" class="alert alert-danger">{{errorMessage}}</div>
               <form role="form"[formGroup]="formGroup" (ngSubmit)="submitForm()">
                 <div class="form-group">
                   <label for="email">Email:</label>
                   <input class="form-control" placeholder="Email" type="email"[(ngModel)]="email"   formControlName="email">
                  </div>
                 <div class="form-group">
                   <label for="password">Password:</label>
                   <input class="form-control" placeholder="Password" type="password"[(ngModel)]="password"  formControlName="password" >
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>


            <hr class="my-4">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>