<div class="container mt-5">
    <h2>List of Staffs</h2>
    <hr>
  
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>name</th>
                <th>password</th>
                <th> More</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let  staff of staffs ">
                <td>{{ staff.name }}</td>
                <td>{{ staff.password }}</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary"  >View Details</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>