<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container">
    <h1>You can add a new student :</h1>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary" style="left: 90%; " data-toggle="modal" data-target="#addStudentModal">Add Student</button>
      </div>
    </div>
  </div>
 <!-- Add Student Modal -->
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #studentForm="ngForm" (ngSubmit)="addStudent(studentForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" ngModel required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" ngModel required>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter date of birth" ngModel required>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" ngModel required>
          </div>
          <div class="form-group">
            <label for="aClass">Class</label>
            <select class="form-control" id="aClass" name="aClass" [(ngModel)]="aClass" required>
              <option value="">Select class</option>
              <option value="info1">info1</option>
              <option value="info2">info2</option>
              <option value="info3">info3</option>
              <option value="meca1">meca1</option>
              <option value="meca2">meca2</option>
              <option value="meca3">meca3</option>
              <option value="gsil1">gsil1</option>
              <option value="gsil2">gsil2</option>
              <option value="gsil3">gsil3</option>
              <option value="infot1">infot1</option>
              <option value="infot2">infot2</option>
              <option value="infot3">infot3</option>
              <option value="m_tic">m_tic</option>
              <option value="m_arti">m_arti</option>
              <option value="m_mpsdm">m_mpsdm</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" ngModel required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl" placeholder="Enter imageUrl" ngModel required>
            </div>
            <div class="form-group">
              <label for="author">Role</label>
              <input type="text" class="form-control" id="Role" name="Role" placeholder="Enter Role" ngModel required>
            </div>
          
            
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" type="submit" class="btn btn-primary" id="addStudentBtn">Add Student</button>
      </div>
    </form>
  </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2>List of Students</h2>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Class</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students; let i = index" [id]="'student' + i">
              <td>{{ student.name }}</td>
              <td>{{ student.aClass }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#detailStudentModal' + i" (click)="selectedStudent = student">View Details</button>
                  <button class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#modifyStudentModal' + i" (click)="selectedStudent = student">Modify</button>
                  <button type="button" (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- studentDetail Modals -->
  <div *ngFor="let student of students; let i = index">
    <div class="modal fade" [id]="'detailStudentModal' + i" tabindex="-1" role="dialog" aria-labelledby="detailStudentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="detailStudentModalLabel">{{ student.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>{{student.name}}</h2>
            <p>Email: {{student.email}}</p>
            <p>Date of Birth: {{student.dob}}</p>
            <p>Phone Number: {{student.phoneNumber}}</p>
            <p>Class: {{student.aClass}}</p>
            <p>Password: {{student.password}}</p>
            <p>Image URL: {{student.imageUrl}}</p>
            <p>Role: {{student.Role}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let student of students; let i = index">
  <div class="modal fade" [id]="'modifyStudentModal' + i" tabindex="-1" role="dialog" aria-labelledby="modifyStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modifyStudentModalLabel">Edit {{ student.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="student.name" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="student.email" name="email">
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <input type="date" class="form-control" id="dob" [(ngModel)]="student.dob" name="dob">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" class="form-control" id="phoneNumber" [(ngModel)]="student.phoneNumber" name="phoneNumber">
          </div>
          <div class="form-group">
            <label for="aClass">Class:</label>
            <select class="form-control" id="aClass" [(ngModel)]="student.aClass" name="aClass">
              <option value="info1">Info 1</option>
              <option value="info2">Info 2</option>
              <option value="info3">Info 3</option>
              <option value="meca1">Meca 1</option>
              <option value="meca2">Meca 2</option>
              <option value="meca3">Meca 3</option>
              <option value="gsil1">Gsil 1</option>
              <option value="gsil2">Gsil 2</option>
              <option value="gsil3">Gsil 3</option>
              <option value="infot1">Infot 1</option>
              <option value="infot2">Infot 2</option>
              <option value="infot3">Infot 3</option>
              <option value="m_tic">M-TIC</option>
              <option value="m_arti">M-ARTI</option>
              <option value="m_mpsdm">M-MPSDM</option>
            </select>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="student.password" name="password">
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="imageUrl" class="form-control" id="imageUrl" [(ngModel)]="student.imageUrl" name="imageUrl">
            </div>
            <div class="form-group">
              <label for="Role">Role</label>
              <input type="Role" class="form-control" id="Role" [(ngModel)]="student.Role" name="Role">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveChanges(student)">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
